[submodule "app/Plugin/Users"]
	path = app/Plugin/Users
	url = git@github.com:CakeDC/users.git
[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = git@github.com:cakephp/debug_kit.git
