[submodule "app/Plugin/Users"]
	path = app/Plugin/Users
	url = https://github.com/CakeDC/users.git
[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
